
<ion-header>
  <ion-navbar>
    <ion-title> {{quoteGroup?.category | uppercase}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let quote of quoteGroup.quotes; let i = index">
    <ion-card-header>
      #{{i + 1}}
    </ion-card-header>
    <ion-card-content>
      <p>{{quote.text}}</p> 
      <p class="auth">{{quote.person}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>
        <button ion-button small clear (click)="onAddToFavorites(quote)" *ngIf="!isFavorite(quote)">
          Favorite
        </button>
        <button ion-button color="danger" small clear (click)="onRemoveFromFavorites(quote)" *ngIf="isFavorite(quote)">
          unFavorite
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
